<!DOCTYPE html>
<html lang="{{ metas.lang }}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="supported-color-schemes" content="light dark" />
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{ title }}</title>
</head>

<body>
    <div class="container mx-auto">
        <div class="lg:w-8/12 mx-auto my-12 px-10 border-solid border-gray-300 rounded lg:border-2">
            <header class="my-5">
                <h1 class="text-2xl font-semibold text-center underline">
                    <a href="/">{{ metas.site }}</a>
                </h1>
            </header>

            <nav class="flex justify-center text-base">
                <a href="#" class="px-4 py-2 text-gray-800">&#128221; Notes</a>
                <a href="/contact" class="px-4 py-2 text-gray-800">&#128222; Contact</a>
            </nav>

            <div class="min-h-[430px]">
                <div class="my-5 text-lg text-justify">
                    {{ content | safe }}
                </div>
            </div>

            <footer class="mt-8 mb-5">
                <p class="text-sm text-center">
                    Hery Sehastian &#169;2023 - Build with
                    <a href="https://lume.land/">Lume</a>
                </p>
            </footer>
        </div>
        <!-- <div class="lg:flex lg:items-center lg:justify-center lg:h-screen">
        </div> -->
    </div>
</body>

</html>